.datepicker {
    border: solid #b7b7b7 1px;
    background: #ffffff;
    position: relative;
    cursor: text;
}

.datepicker p {
    margin: 0;
    padding: 5px;
    color: #999999;
    font-size: 14px;
    margin-bottom: 3px;
    position: relative;
    top: 15px;
    left: 3px;
}

.datepicker input {
    width: 96%;
    outline: none;
    border: none;
    font-size: 14px;
    background: none;
    padding: 5px;
}

.datepicker p.active {
    margin: 0;
    color: #999999;
    margin-bottom: 3px;
    position: static;
}
