.tab {
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 15px 80px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 14px;
}

.nav ul li svg {
    width: 22px;
    fill: #fff;
    position: relative;
    top: 5px;
    left: -10px;
}

.nav ul li.active {
    background-color: #f7f7f7;
    color: #c00;
}

.nav ul li.active svg {
    fill: #c00;
}

.panel {
    background-color: #f7f7f7;
    padding: 15px;
    font-size: 14px;
    display: none;
}

.panel.active {
    display: block;
}
