.passengerselector {
    border: solid #b7b7b7 1px;
    background: #ffffff;
    position: relative;
    cursor: pointer;
}

.passengerselector .detail {
    display: block;
    padding: 5px;
    margin: 0;
    color: #999999;
    margin-bottom: 4px;
}

.passengerselector .total {
    font-size: 14px;
    padding: 5px;
    margin: 0;
}

.passengerselector .options {
    display: none;
}

.passengerselector .options ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.passengerselector .options ul li {
    display: block;
    padding: 10px 5px;
    border-top: solid #b7b7b7 1px;
    position: relative;
}

.passengerselector .options ul li p, .passengerselector .options ul li span {
    margin: 0;
}

.passengerselector .options ul li span {
    color: #999999;
    font-size: 12px;
}

.passengerselector .options ul li input {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 15px;
    padding: 5px;
}

.passengerselector .options ul li#close {
    text-align: center;
    padding: 18px;
}

.passengerselector .options ul li#close:hover {
    color: #c00;
}
