.row {
    margin: 0;
    padding: 0;
}

.bottom {
    margin-top: 20px;
}

.row .fromTo,
.row .dates,
.row .passengers,
.row .links,
.row .buttonWrapper {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.fromTo {
    width: 35%;
}

.dates {
    width: 35%;
}

.passengers {
    width: 30%;
}

.links {
    width: 70%;
    padding-top: 15px !important;
}

.buttonWrapper {
    width: 30%;
}

.clear {
    clear: both;
}

.w50 {
    float: left;
    width: 50%;
    position: relative;
}

.w50 svg {
    width: 20px;
    fill: #c00;
    position: absolute;
    top: 20px;
    right: -10px;
    transform: rotate(90deg);
    z-index: 99;
}

.links a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    margin-right: 30px;
}

.links a:hover {
    color: #c00;
}

.toPlace, .returnDate {
    margin-left: -1px;
}

.toPlace .placeselector {
    padding-left: 10px;
    box-sizing: border-box;
}
