.button {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background: #c00;
    color: #ffffff;
    font-size: 16px;
}

.button:hover {
    background: #b20000;
}
