.placeselector {
    border: solid #b7b7b7 1px;
    background: #ffffff;
    position: relative;
    cursor: text;
}

.placeselector p {
    margin: 0;
    padding: 5px;
    color: #999999;
    font-size: 14px;
    margin-bottom: 3px;
    position: relative;
    top: 15px;
    left: 3px;
}

.placeselector input {
    width: 96%;
    outline: none;
    border: none;
    font-size: 14px;
    background: none;
    padding: 5px;
}

.placeselector p.active {
    margin: 0;
    color: #999999;
    margin-bottom: 3px;
    position: static;
}

.react-autosuggest__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.react-autosuggest__container ul li {
    display: block;
    cursor: pointer;
    margin: 0;
}

.react-autosuggest__container ul li div {
    padding: 10px 5px;
    margin: 0;
}

.react-autosuggest__container ul li div span {
    display: inline-block;
    background: #2d2d2d;
    color: #ffffff;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

.react-autosuggest__container ul li:hover {
    background: #c00;
    color: #ffffff;
}
